<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container my-5">
    <h1>Todos los Productos</h1>
    <div class="row" id="productsContainer">
      {{#each products}}
      <div class="col-md-4 mb-3">
        <div class="card">
          <img src="{{this.thumbnails.[0]}}" class="card-img-top" alt="{{this.title}}">
          <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.description}}</p>
            <p class="card-text">$ {{this.price}}</p>
            <button class="btn btn-primary addToCart" data-id="{{this._id}}">Agregar al carrito</button>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

  <script>
    const cartId = "68c5bb52fead4677d902f3e7"; 

    document.querySelectorAll(".addToCart").forEach(btn => {
      btn.addEventListener("click", async (e) => {
        const pid = e.target.dataset.id;
        await fetch(`/api/carts/${cartId}/product/${pid}`, { method: "POST" });
        alert("Producto agregado al carrito");
      });
    });
  </script>
</body>
</html>
