<h1 class="mb-4">Productos</h1>

<div class="row">
  {{#each products}}
    <div class="col-md-4 mb-3">
      <div class="card h-100">
        {{#if this.thumbnails}}
          <img src="{{this.thumbnails.[0]}}" class="card-img-top" alt="{{this.title}}">
        {{else}}
          <img src="/placeholder.png" class="card-img-top" alt="{{this.title}}">
        {{/if}}
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{this.title}}</h5>
          <p class="card-text">${{this.price}}</p>
          <div class="mt-auto">
            <button class="btn btn-primary add-to-cart" data-id="{{this._id}}">Agregar al carrito</button>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>
